<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BHSArcade</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/link-selection.js"></script>
</head>
<body>
<div class="game-select"> 
    <ul>
        {% for game_path, game_name in game_files %}
            <li><a href="{{  game_path  }}/index.html">{{ game_name }}</a></li>
        {% endfor %}
    </ul>
</div>



</body>
</html>